target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/data/
/stderr.txt
/stdout.txt

/.idea/sonarlint/
/.idea/sonarlint.xml
/dependency-reduced-pom.xml
/src/main/resources/images/*.xcf
/prefs.json
/src/main/resources/ffmpeg/windows/ffmpeg.exe
