/*
*
*   Author: Antonio Pelusi
*   Website: https://www.antoniopelusi.com
*   Source code: https://github.com/antoniopelusi/JavaFX-Dark-Theme
*
*/



@import "style.css";
.root{
    -fx-background-color: #2D2D30;
    -fx-font-family: "Retro Pixel Arcade Regular";
    -fx-font-size: 10px;
    background-color: #2D2D30;
}


/* Label */
.label{
-fx-font-size:12 px;
    -fx-text-fill: #d3761e;

}
