.rating .svg-path {
    -fx-fill: transparent;
    -fx-stroke: gold;
    -fx-stroke-width: 2;
}

.rating .full {
    -fx-fill: gold;
}


.rating-control .star-empty {
    -fx-fill: transparent;
    -fx-stroke: gold;
    -fx-stroke-width: 2;
}

.rating-control .star-full {
    -fx-fill: gold;
}

.rating-control .star {
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
}

    -fx-margin: 0 0 -5 2;
    margin: 0 0 -5 2;
.star {
color:red;
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
}
.star-full {
    -fx-fill: gold;
}
.star .star-empty {
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
    -fx-fill: transparent;
    -fx-stroke: gold;
    -fx-stroke-width: 2;
}